<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--<add key="str_sql_conn" value="server=192.168.149.128;database=jk2007;user=user26;pwd=welcome"/>-->
    <add key="str_sql_conn" value="server=192.168.1.252;database=jk2007;user=user26;pwd=welcome"/>
  </appSettings>
</configuration>
